html {
  font-family: sans-serif;
}

/* Your CSS below here */



p {
  
  width: 200px;
  height: 180px;
  /* font-size: 1.125rem; */
  background-color: linear-gradient(to bottom right, white, rgba(15, 3, 3, 0.591) 30%);
  /* color: white; */
  /* text-shadow: 1px 2px 1px black; */
  border-radius: 7px;
  display:flex;
  align-items: center;
  justify-content: center;
}

body{
display: flex;
justify-content: center;
align-items: center;
transform: translate(0%, 0%);
}

/*HOW I WORKED OUT MY FONT SIZE TO BE INPUTED WITH "rems" instead of "pixel"
my default font-size = 16px;
my new font-size = 18px;
value in rem = new/default;
rem = 18/16;
rem = 1.125;
*/

div{
  width: 200px;
  inline-size: 200px;
  height: 180px;
  margin: 10px;
  padding: 3px;
  block-size: 180px;
  font-size: 1.125rem;
  background-color: rgb(239, 13, 13);
  color: white;
  text-shadow:2px 1px rgb(0, 0, 0) ;
  border-radius: 12.5px;
  border: 1px solid rgba(142, 22, 22, 0.897);
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25vh; 
  box-shadow: 4px 6px 10px black, 2px 2px 2px rgba(250, 242, 242, 0.881) inset, -2px -4px 2px rgba(125, 5, 5, 0.987) inset;
  
  
}
